-# in app/views/movies/same_director.html.haml

%h2 Same director movies as #{@movie.title}

%ul#details
  - @same_movies.each do |movie|
    %li
      = movie.title

= link_to 'Back to movie list', movies_path
